@{
    ViewBag.Title = "3Ducation | Виртуальный мир";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section additionalCSS {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/contacts.css")"/>
}

@section scripts{
 
}

@section topPanel{
    <div class="toppanel">
			<div class="toppanelleft">
				<a href = "render"><img src="/Content/Sprites//button_main_ia.png"></a>
			</div>
			<div class="toppanelcenter">
				<a href = "about"><img src="/Content/Sprites//button_about_ia.png"></a>
			</div>
			<div class="toppanelright">
				<a href = "contacts"><img src="/Content/Sprites//button_contact_a.png"></a>
			</div>
		</div>
}
@section renderArea{
    <div class="renderarea">
		</div>
}