@{
    ViewBag.Title = "3Ducation | Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var logo = new Ext.panel.Panel({
            html: '<div style = "position: relative; top: 50%;">' +
                    '<center>' +
                        '<img style = "position: relative; top: -150px;" src=' + '@Url.Content("~/Content/pics_service/Logotype.jpg")' + '></img>' +
                    '</center>' +
                  '</div>' + 
                  '<img style = "position: absolute; right: 0px; bottom: -10px;" src=' + '@Url.Content("~/Content/pics_service/Robot.jpg")' + '></img>'
        });
        Ext.onReady(function () {
            renderToMainArea(logo);
        });
    </script>
}