/* splashyfish.com/icons/ */
/* iconfinder.com */

/* main */
.main_ideology { background-image:url("icons/main_ideology.png") !important}
.main_struct { background-image:url("icons/main_struct.png") !important}
.main_render { background-image:url("icons/main_render.png") !important}
.main_flowchart {background-image:url("icons/flowchart.png") !important}
.main_users {background-image:url("icons/users.png") !important}
.login1 { background-image:url("icons/login1.png") !important}
.logout1 { background-image:url("icons/logout1.png") !important}
.login2 { background-image:url("icons/login2.png") !important}
.logout2 { background-image:url("icons/logout2.png") !important}
.russian { background-image:url("icons/russian.png") !important}
.english { background-image:url("icons/english.png") !important}

/* struct */
.add { background-image:url("icons/add.png") !important}
.remove { background-image:url("icons/remove.png") !important}

.upload { background-image:url("icons/upload.png") !important}
.browseFiles { background-image:url("icons/browseFiles.png") !important}

.course { background-image:url("icons/course.png") !important}
.course_add { background-image:url("icons/course_add.png") !important}
.course_remove { background-image:url("icons/course_remove.png") !important}

.theme { background-image:url("icons/theme.png") !important}
.theme_add { background-image:url("icons/theme_add.png") !important}
.theme_remove { background-image:url("icons/theme_remove.png") !important}

.lecture { background-image:url("icons/lecture.png") !important}
.lecture_add { background-image:url("icons/lecture_add.png") !important}
.lecture_remove { background-image:url("icons/lecture_remove.png") !important}

.paragraph { background-image:url("icons/paragraph.png") !important}
.paragraph_add { background-image:url("icons/paragraph_add.png") !important}
.paragraph_remove { background-image:url("icons/paragraph_remove.png") !important}

.test { background-image:url("icons/test.png") !important}
.question { background-image:url("icons/question.png") !important}

.move_up { background-image:url("icons/move_up.png") !important}
.move_down { background-image:url("icons/move_down.png") !important}