
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
builds/
Temp/

#unity specific ignores
*.userprefs
*.csproj
*.pidb
*.sln
*.userprefs

Library/cache
Library/previews
Library/ScriptAssemblies
Library/assetDatabase3
Library/AssetImportState
Library/AssetServerCacheV3
Library/AssetVersioning.db
Library/AudioManager.asset
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/EditorSettings.asset
Library/EditorUserBuildSettings.asset
Library/expandedItems
Library/FailedAssetImports.txt
Library/guidmapper
Library/InspectorExpandedItems.asset
Library/MonoManager.asset
Library/NetworkManager.asset
Library/ScriptMapper

#XCode specific ignores
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/